<ion-header>

</ion-header>

<ion-content padding style="background-color:silver" >

  <h1 style="text-align: center; margin-top: 10%;font-style:italic; font-family:Cambria; font-size:30px">Face Auth <br> Demo App</h1>
  <div class="container">
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  </div>
  <div *ngIf="error" class="error">
        {{ error }}
  </div>
  <form style="margin-top: 10%" >
    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="data.userName" required>

      <button type="submit" (tap)="login();" >Login</button>
      <label>
        <input type="checkbox" checked="checked"> Remember me
      </label>
      <button type="submit" (tap)="register();" >First time Login</button>
    </div>
  </form>
</ion-content>
